<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">Parkerites</a>
        <form class="form-inline">
            <button (click)="home()">Home</button>
            &nbsp;&nbsp;&nbsp;
            <button (click)="bookings()">Booking Details</button>
            &nbsp;&nbsp;&nbsp;
            <button (click)="addNewVehicle()">Add New Vehicle</button>
            &nbsp;&nbsp;&nbsp;
            <button (click)="logout()">Logout</button>
        </form>
</nav>